@media (min-width: 768px) {
  * {
  font-family: 'Roboto', sans-serif;
  }

  #menu {
    display: none;
  }

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .navigation a {
    padding: 1rem;
  }

  .container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  main {
    max-width: 1000px;
  }
}
